a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
}
h2 {
    padding-top: 1em;
}

div.toc {
    position: fixed;
    left: 0;
    top: 0;
    float: left;
    width: 15em;
    height: 100%;
    padding: 5px;
    border-right: 1px solid black;
    background-color: #dddddd;
}
div.badges {
    float: right;
}
div.factoid {
    padding: 2px;
    margin: 2px;
    border: 1px solid black;
    background-color: #eeeeee;
    float: left;
    vertical-align: top;
}
div.factoid a {
    vertical-align: top;
}
div.factoid img {
    height: 16px;
}
div.content {
    margin-top: 0px;
    margin-left: 15em;
    margin-right: 10px;
    margin-bottom: 4ex;
    padding-left: 1em;
}
div.flush
{
    clear: both;
}
